; Default settings. Shipped with the game; user settings are saved to user://settings.cfg.

[display]
window_mode = "windowed" ; fullscreen, borderless, windowed
vsync_mode = "disabled" ; disabled, enabled, adaptive
resolution_width = 1152
resolution_height = 648
render_scale = 1.0
